
#first{
    
    display: flex;
    flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('../pic/first.jpeg'); 
      background-size: cover;
      background-position: center;
}
#name{
    font-size: 5vh;
    color: white;
}

.fade-in {
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.3s;
  }
#prof{
    font-size: 3vh;
    color: white;
}

.fade{
    opacity: 0;
    animation: fade 0.5s forwards;
    animation-delay: 0.3s;
}

  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* arrow*/


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  #learn{
    color: white;
  }
  .containert {
    opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2s;
  position: relative;
  padding: 20px;
  text-align: center;
  }
  
  .contenty {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  }
  
  .contenty p {
  margin: 0 0 20px;
  }
  
  /* Arrow & Hover Animation */
  #more-arrows {
  width: 75px;
  height: 65px;
  }
  
  #more-arrows:hover polygon {
  fill: #FFF;
  transition: all .2s ease-out;
  }
  
  #more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
  }
  
  #more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
  }
  
  polygon {
  fill: #FFF;
  transition: all .2s ease-out;
  }
  
  polygon.arrow-middle {
  opacity: 0.75;
  }
  
  polygon.arrow-top {
  opacity: 0.5;
  }