#third{
 background-color: black;
 color: white;
 overflow: scroll;
}
#h1skill{
    color: white;
}
.dev-list {
    list-style: none;
  }
  .devE {
    position: relative;
    font-size: 2vh;
    line-height: 1.5;
    padding: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #5237dd; 
    line-height: 1.5;
  }
  .devE:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
   .checklist li:before {
    content: "✓";
    color: #5237dd;
   
    padding-right: 10px;
  }
  .checklist{
    text-align: left;
  }
#development{    /* the left right main container */ 
  display: flex;

}
.lefty{ /*portfolio pic */
 flex: 1;
}
.righty{ /*Text */
  padding: 1vh;
  flex: 1;
}
#firstD, #secondD{
  cursor: pointer;
}
.fullscreen{
  background-color: rgb(0, 0,0, 0.8);
  color: white;
 
}
.popupP, .popupP2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;

}
#resultPic {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}
.fullscreen {
  position: fixed;
  z-index: 9999;

}
#close{
  position: absolute;
  top: 1%;
  left: 90%;
  color: red;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: black;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: color 0.3s;
}

#close:hover {
  color: white;

}
.hidden{
  display: none;
}

@media (max-width: 768px) {
  #development{    /* the left right main container */ 
    display: flex;
    flex-direction: column;
  }
  

}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Transparent thumb */
}

/* Optional: Customize the track if desired */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
#cddownload {
  cursor: pointer;
  transition: text-shadow 0.3s ease; 
  /* imagae */
   
}

#cddownload:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7); 
}
#cddownload img {
  border: 2px solid transparent; /* Add a transparent border to the image */
  transition: border-color 0.3s ease; /* Add a smooth transition effect */
}
#cddownload img {
 /* Remove any default image spacing */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

#cddownload:hover img {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);  /* Change the border color to white on hover */
}




