#workcontainer{
    height: fit-content;
    position: relative;
    z-index: 0;
 
  
}
#fifth{
    background-color: black;
    max-height: 100vh;
    overflow: auto;  /*this wont allow to be taller then 100vh*/
}
#some{
    color: white;
}
#arrow{
    width: 5vh;
    height: 5vh;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 9vh;
 
}
#arrow:hover {
    width: 6vh;
    height: 6vh;
    transform: translateX(-10px);
}
.cont{
    width: 100%;
    height: fit-content;
    color: white;
}
 .bigpic{
    margin-left: 2vh;
    /* width: 40vh;
    height: 40vh; */
    border-radius: 8px; 
    width: 50vh;
    /*max-width: 50vh; */
    max-height: 50vh;
    height: auto;
    
    transition: transform 0.5s ease;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Adjust the angles as desired */
} 
.images{
    position: relative;
    flex: 1;
    /* justify-content: space-between;
    align-items: center; */
    width: 50vh;
    height: 50vh;
    overflow: hidden;
   
}
#poitext{
    /* flex 1 evens the space out between the two  */
    flex: 1;
    padding-left: 1vh;
   
}

.bigpic:hover {
    transform:  rotateY(-10deg); /* Adjust the desired transformation */
}

#containerF{
    display: flex;
    flex-direction: wrap;
    overflow: auto;

}

#techu{
    list-style-type: none;
    padding: 10px;
}

#techi{
font-weight: bold;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #fff;

  letter-spacing: 5px;
  text-shadow: 3px 3px 20px #e9e8ee,
    -2px 1px 30px #5237dd;
}
/* All slide classes are needed! */
.slide, .slide1, .slide2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    max-width: 50vh; 
    max-height: 50vh;
    opacity: 0;
    transition: opacity 1.0s ease-in-out;
  }
  
  .slide.active, .slide1.active, .slide2.active {
    opacity: 1;
  }
  @media (max-width: 800px) {
    #containerF {
      flex-direction: column;
      overflow: auto;
      max-height: 100%;
     
    }
    #poitext{
        flex-basis: 100%;
        max-height: 50vh;
        min-height: 200%;
        
    }
    .bigpic{
        width: 30vh;
        height: 30vh;
    }
    .slide, .slide1, .slide2{
        position: relative;
         /*if it is not relative the pictures just disappears*/
        opacity: 1;
        width: 35vh;
        height: 35vh;
    
    }
    .images{
        display: flex;
        width: 100%;
        overflow: auto;
       
        
        /* if the direction is column then its a mess */
    }
    .cont{
        overflow: scroll;
        max-width: none;
        
    }
    #workcontainer{
       overflow: auto;
    }
    
   
    
   
    
  }