<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/first.css">
    <link rel="stylesheet" href="/style/second.css">
    <link rel="stylesheet" href="/style/buble.css">
    <link rel="stylesheet" href="/style/timeline.css">
    <link rel="stylesheet" href="/style/contact.css">
    <link rel="stylesheet" href="/style/works.css">
    <link rel="stylesheet" href="/style/skill.css">
    <title>Document</title>
</head>
<body>
  <div id="buble">
    <lu>
      <a href="#first"><li><i>Intro</i></li></a>
      <a href="#second"><li><i>About</i></li></a>
      <a href="#third"><li><i>Skills</i></li></a>
      <a href="#fourth"><li><i>Experience</i></li></a>
      <a href="#fifth"><li><i>Work</i></li></a>
      <a href="#sixth"><li><i>Contact</i></li></a>
    </lu>
  </div>

    <div id="scrollable">
        
        <div class="content" id="first">
            <!-- <h1>Boldizsar Banfia</h1> -->
            <!-- Your content here -->
            <h1 id="name">
                <span class="fade-in">B</span>
                <span class="fade-in">o</span>
                <span class="fade-in">l</span>
                <span class="fade-in">d</span>
                <span class="fade-in">i</span>
                <span class="fade-in">z</span>
                <span class="fade-in">s</span>
                <span class="fade-in">a</span>
                <span class="fade-in">r</span>
                &nbsp;
                <span class="fade-in">B</span>
                <span class="fade-in">a</span>
                <span class="fade-in">n</span>
                <span class="fade-in">f</span>
                <span class="fade-in">i</span>
                <span class="fade-in">a</span>
              </h1>
            <!-- <p id="prof">Software Enginer Student</p> -->
            <h3 id="prof">
                <span class="fade">S</span>
                <span class="fade">o</span>
                <span class="fade">f</span>
                <span class="fade">t</span>
                <span class="fade">w</span>
                <span class="fade">a</span>
                <span class="fade">r</span>
                <span class="fade">e</span>
                &nbsp;
                <span class="fade">E</span>
                <span class="fade">n</span>
                <span class="fade">g</span>
                <span class="fade">i</span>
                <span class="fade">n</span>
                <span class="fade">e</span>
                <span class="fade">e</span>
                <span class="fade">r</span>
                &nbsp;
                <span class="fade">S</span>
                <span class="fade">t</span>
                <span class="fade">u</span>
                <span class="fade">d</span>
                <span class="fade">e</span>
                <span class="fade">n</span>
                <span class="fade">t</span>
            </h3>

            <div class="containert">
              <div class="contenty">
                <p id="learn">Learn more</p>
                <a href="#second"><svg id="more-arrows">
                  <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
                  <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
                  <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
                </svg></a>
              </div>
            </div>

          </div>

          <div class="content" id="second">  <!-- About me second 100vh  -->
            <h1>Hey, I am Boldizsar</h1>
            <p>But everyone calls me Boyszy</p>
            <div id="mainContainer">

              <div id="text1">  <!-- left  -->
                <h3>Motto: How you do anything is how you do everything!</h3>
              </div>

              <div id="image1"> <!-- right  -->
                <img src="../pic/theone.png" alt="A little cog" id="theone">
              </div>

            </div>



            <!-- Your content here -->
          </div>

          <div class="content" id="third">
            <h1 id="h1skill">Skills</h1>
            <div id="development">
              <div class="left">
                <div class="languageS">
                  
                  <h2><img src="../pic/cog.png" alt="A little cog"> Development:</h2>
                  <ul class="dev-list">
                    <li class="devE">JavaScript</li>
                    <li class="devE">Python</li>
                    <li class="devE">HTML</li>
                    <li class="devE">CSS3</li>
                    <li class="devE">React</li>
                    <li class="devE">Java</li>
                    <li class="devE">Kotlin</li>
                    <li class="devE">SQL</li>
                    <li class="devE">MongoDB</li>
                    <li class="devE">Node.js</li>
                    <li class="devE">Jquery</li>
                    <li class="devE">Kotlin</li>
                    <li class="devE">Ajax</li>
                  </ul>
                </div>
                <div class="checklist">
                  <h2> <img src="../pic/bulb.png" alt="A little bulb">Knowledge:</h2>
                  <ul>
                    <li class="knowL">Git / Github</li>
                    <li class="knowL">UX</li>
                    <li class="knowL">MVMC</li>
                    <li class="knowL">ECMAScript 6</li>
                    <li class="knowL">CCNA</li>
                    <li class="knowL">Figma</li>
                    <li class="knowL">Command Line</li>
                    <li class="knowL">Machine Learning</li>
                    <li class="knowL">Basic Data Analysis</li>
                  </ul>
                </div>
              </div> <!-- left-->
              <div class="right">

                <div class="progresS">
                  <h2> <img src="../pic/letter.png" alt="A little letter">Progress:</h2>
                  <br>
                  <p id="secondD" onclick="toggle2()">University first year finished with the end result of <strong>2:1</strong> (Above 60%)</p>
                  <div class="popupP2 fullscreen hidden" >
                    <img src="../pic/firstyear.png" alt="Results" id="resultPic">
                    <h1 id="close" onclick="toggle2()">X</h1>
                  </div>

                  <p id="firstD" onclick="toggle()">University second year finished with the end result of <strong>First</strong> (Above 70%)</p>
                  <div class="popupP fullscreen hidden ">
                    <img src="../pic/secondyear.png" alt="Results" id="resultPic">
                    <h1 id="close" onclick="toggle()">X</h1>
                  </div>
                  
                </div>
              </div> <!-- right-->
              

            </div>
            <!--  -->








          </div>

          <div class="content" id="fourth">
            <h1 id="exp">Work Experience</h1>
            <!-- Your content here -->
          <div class="timeline-container"> 
              <div class="timeline">
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2022 - Present - Controller at Boarhunt</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2021 - 2022 - Delivery Driver at Tesco</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2020 - 2021 - Bus driver at Contiki</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2018 - 2020 - Health Care Assisstant at St Magnus</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2017 - 2018 - Personal Assisstant at Snatch Motorsport</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2015 - 2017 - Croupier at </h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="content" id="fifth">
            
            <!-- Your content here -->
            <div id="workcontainer">
              <h1 id="some">Some of my work</h1>
             <!-- The arrow  for the next one -->
              <img src="../pic/arrow.png" alt="" onclick="next()" id="arrow">
              <!-- each cont class is a separate 'work' -->
              <div class="cont actived" > 
                <!--First slide!  -->
                <h2>Flashcard application</h2>
                <div id="containerF">
                  <div class="images">

                    <div class="slide1"> <!--need to rewrite script due to delay   -->
                      <img src="../pic/loginf.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide1">
                      <img src="../pic/homepage.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide1">
                      <img src="../pic/piccard.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide1">
                      <img src="../pic/cards.jpg" alt="" class="bigpic">
                    </div>

                  </div>
                  <div id="poitext">
                    <h3>Flashy <strong class="peek"><a href="https://github.com/Boldizsarb/advenced_database" target="_blank">->    Have a peek</strong></a></h3>
                    <p>User-specific data-driven full-stack flashcard application with responsive design.</p>
                    <p>The user is key in the app since every data is user-specific. Upon login or registering, the password is hashed and stored on a different cluster in Mongo.</p>
                    <p>As a normal flashcard application, the user can create cards that may contain texts or pictures, can categorise, search and display them in two different ways.</p>
                    <p>The CRUD operation was built on MVC architecture, each site has custom CSS, including the flipping animation.</p>
                    <p>Technology used:</p>
                    <ul id="techu">
                      <li id="techi">EJS</li>
                      <li id="techi">CSS</li>
                      <li id="techi">JavaScript</li>
                      <li id="techi">Node.js</li>
                      <li id="techi">Express</li>
                      <li id="techi">Mongodb</li>
                      <li id="techi">Ajax</li>
                      <li id="techi">Mongoose</li>
                    </ul>
                  </div>

                </div>
              </div>

              <div class="cont">
                <h2>Point of Interest Website</h2>

                <div id="containerF"> <!--Flex -->
               
                  <div class="images"> 

                    <div class="slide">
                      <img src="../pic/big.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide">
                      <img src="../pic/search.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide">
                      <img src="../pic/searchR.jpg" alt="" class="bigpic">
                    </div>
                    
                  </div>
                  <div id="poitext">
                    <h3>Working concept of Point of Interest creator, using OS map and React.</h3>
                    <p>The website enables users to look up a point of interest on the map, create one, rate them, upload pictures and share reviews. </p>
                    <p>The user has to be logged in otherwise the API prevents post requests. The user credentials are stored in cookies.</p> 
                    <p>The main highlight is on the server-side <bold>ECMAScript 6</bold> compliant, MVC architecture rest API, which is later also utilised in the Android application, and the data accessable on both platforms.</p>
                    <p>Upload-able Static assets (pictures etc..) are stored in a database (SQL).</p>
                    <p>The designis responsive for any screen.</p>
                    <p>Technology used: </p>
                    <ul id="techu">
                      <li id="techi">HTML</li>
                      <li id="techi">CSS</li>
                      <li id="techi">JavaScript</li>
                      <li id="techi">Node.js</li>
                      <li id="techi">Express</li>
                      <li id="techi">SQL</li>
                      <li id="techi">Ajax</li>
                      <li id="techi">React</li>
                    </ul>
                  </div>
                   
                </div>
               
              </div>

              <div class="cont">
                <h2>Point of interest mobile app</h2>
                <div id="containerF">

                  <div class="images">

                    <div class="slide2">
                      <img src="../pic/mobile.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide2">
                      <img src="../pic/mobile2.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide2">
                      <img src="../pic/mobile3.jpg" alt="" class="bigpic">
                    </div>
                    <div class="slide2">
                      <img src="../pic/mobile4.jpg" alt="" class="bigpic">
                    </div>

                  </div>

                  <div id="poitext">
                    <p>Entire application is written in Kotlin. </p>
                    <p>XML layout </p>
                    <p>Permissions used for the GPS listener. </p>
                    <p>I worked on the project in two different ways hence the two versions. The first involved multiple activities that communicated through intents, while the second utilized two fragments and the ViewModel (MVVM) architecture.</p>
                    <p>This feature includes customizable preferences for the storage location of every point of interest. They can either be saved locally in an SQL table or sent to a customized API through a post request on the web.</p>
                    <p>JSON parsing occurs during Get and Post requests for data processing.</p>
                    <ul id="techu">
                      <li id="techi">Kotlin</li>
                      <li id="techi">OS Map</li>
                      <li id="techi">SQL</li>
                      <li id="techi">JavaScript</li>
                      <li id="techi">Node.js</li>
                      <li id="techi">Express</li>
                      <li id="techi">Android Studio</li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="cont">
                <p>fourth</p>
              </div> 

            </div>













          </div>

          <div class="content" id="sixth">
            <h1 id="getint">Get in touch</h1>
            <!-- Your content here -->
            <div class="contact-wrapper">
              <div id="contactcontainer">

                <input type="text" id="fname" placeholder="Who are you?" required>  <br>
                <p id="fnameError" ></p>
                <input type="email" id="email" placeholder="Email address">
                <p id="emailError" ></p>
                <textarea name="massage" id="message" cols="30" rows="10" id="massage" placeholder="Massage comes here!"></textarea>
                <p id="messageError" ></p>
                
                <div id="social">
                  <ul>
                    <li><a href="https://www.linkedin.com/in/banfia-boldizsar-b1a1971bb/" target="_blank"><img src="./pic/linkedin1.png" alt="Linked in icon" class="icons"></li></a>
                    <li><a href="https://wa.me/447341043492"><img src="./pic/sap.png" alt="Whatsapp icon" class="icons"></li></a>
                    <li><a href="https://github.com/Boldizsarb" target="_blank"><img src="./pic/git.png" alt="Github icon" class="icons"></li></a>
                  </ul>
  
                </div>

                <div class="containerd">
                  <button id="btn"  onclick="Sendmail()">
                      <p id="btnText">Submit</p>
                      <div class="check-box">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                              <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                          </svg>
                      </div>
                  </button>
                </div>

              </div>
            </div>
          </div>
    </div>
    
</body>
</html>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('R_qcHBrvSEaUHzZmJ')
</script>

<script src="/scripts/index.mjs"></script>
<script src="/scripts/contact.mjs"></script>
<script src="/scripts/slideshow.mjs"></script>
<script src="/scripts/click.mjs"></script>
<style>
.cont {
  display: none;
  width: 90%;
  max-height: 100vh;
  height: fit-content;
  overflow: hidden;
}
.cont.actived {
  display: block;
}

.cont.next {
  transform: translateX(100%);
}
.bu{
  margin-top: 50%;

}
</style>
 
<script>


  // for the slides 
function next() {
  var currentDiv = document.querySelector('.cont.actived');
  var nextDiv = currentDiv.nextElementSibling;

  if (nextDiv) {
    currentDiv.classList.remove('actived');
    nextDiv.classList.add('actived');
  } else {
    currentDiv.classList.remove('actived');
    var allDivs = document.querySelectorAll('.cont');
    allDivs[0].classList.add('actived');
  }
}

</script>