<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/first.css">
    <link rel="stylesheet" href="/style/second.css">
    <link rel="stylesheet" href="/style/buble.css">
    <link rel="stylesheet" href="/style/timeline.css">
    <link rel="stylesheet" href="/style/contact.css">
    <link rel="stylesheet" href="/style/works.css">
    <link rel="stylesheet" href="/style/skill.css">
    <title>Document</title>
</head>
<body>
  <div id="buble">
    <lu>
      <a href="#first"><li><i>Intro</i></li></a>
      <a href="#second"><li><i>About</i></li></a>
      <a href="#third"><li><i>Skills</i></li></a>
      <a href="#fourth"><li><i>Experience</i></li></a>
      <a href="#fifth"><li><i>Work</i></li></a>
      <a href="#sixth"><li><i>Contact</i></li></a>
    </lu>
  </div>

    <div id="scrollable">
        
        <div class="content" id="first">
            <!-- <h1>Boldizsar Banfia</h1> -->
            <!-- Your content here -->
            <h1 id="name">
                <span class="fade-in">B</span>
                <span class="fade-in">o</span>
                <span class="fade-in">l</span>
                <span class="fade-in">d</span>
                <span class="fade-in">i</span>
                <span class="fade-in">z</span>
                <span class="fade-in">s</span>
                <span class="fade-in">a</span>
                <span class="fade-in">r</span>
                &nbsp;
                <span class="fade-in">B</span>
                <span class="fade-in">a</span>
                <span class="fade-in">n</span>
                <span class="fade-in">f</span>
                <span class="fade-in">i</span>
                <span class="fade-in">a</span>
              </h1>
            <!-- <p id="prof">Software Enginer Student</p> -->
            <h3 id="prof">
                <span class="fade">S</span>
                <span class="fade">o</span>
                <span class="fade">f</span>
                <span class="fade">t</span>
                <span class="fade">w</span>
                <span class="fade">a</span>
                <span class="fade">r</span>
                <span class="fade">e</span>
                &nbsp;
                <span class="fade">E</span>
                <span class="fade">n</span>
                <span class="fade">g</span>
                <span class="fade">i</span>
                <span class="fade">n</span>
                <span class="fade">e</span>
                <span class="fade">e</span>
                <span class="fade">r</span>
                &nbsp;
                <span class="fade">S</span>
                <span class="fade">t</span>
                <span class="fade">u</span>
                <span class="fade">d</span>
                <span class="fade">e</span>
                <span class="fade">n</span>
                <span class="fade">t</span>
            </h3>

            <div class="containert">
              <div class="contenty">
                <p id="learn">Learn more</p>
                <a href="#second"><svg id="more-arrows">
                  <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
                  <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
                  <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
                </svg></a>
              </div>
            </div>

          </div>

          <div class="content" id="second">
            <h1>Hey, I am Boldizsar</h1>
            <h3>Motto: How you do anything is how you do everything!</h3>
            <!-- Your content here -->
          </div>

          <div class="content" id="third">
            <h1 id="h1skill">Skills</h1>
            <div id="development">
              <h2>Development</h2>

            </div>
            <!-- Your content here -->








          </div>

          <div class="content" id="fourth">
            <h1 id="exp">Work Experience</h1>
            <!-- Your content here -->
          <div class="timeline-container"> 
              <div class="timeline">
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2022 - Present - Controller at Boarhunt</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2021 - 2022 - Delivery Driver at Tesco</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2020 - 2021 - Bus driver at Contiki</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2018 - 2020 - Health Care Assisstant at St Magnus</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container left">
                  <div class="conten">
                    <h2 class="hh2">2017 - 2018 - Personal Assisstant at Snatch Motorsport</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="conten">
                    <h2 class="hh2">2015 - 2017 - Croupier at </h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="content" id="fifth">
            
            <!-- Your content here -->
            <div id="workcontainer">
              <h1 id="some">Some of my work</h1>
             <!-- The arrow  for the next one -->
              <img src="../pic/arrow.png" alt="" onclick="next()" id="arrow">
              <!-- each cont class is a separate 'work' -->
              <div class="cont actived" > 
                <p>first called active</p>
              </div>

              <div class="cont">
                <h2>Point of Interest db</h2>

                <div id="containerF"> <!--Flex -->
               
                  <div class="images"> 
                    <img src="../pic/big.jpg" alt="" class="bigpic">
                    <img src="../pic/search.jpg" alt="" class="bigpic">
                    <img src="../pic/searchR.jpg" alt="" class="bigpic">

                  </div>
                  <div id="poitext">
                    <h3>Working concept of Point of Interest creator, using OS map and React.</h3>
                    <p>The website allows users to search for and create points of interest on a map, rate them, upload pictures, and share reviews. It offers a personalized experience through the use of cookies.</p>
                    <p>Main highlight is on the silverside ECMAScript 6 compliant, MVC architecture rest API, which is later also utilised in the android application. </p>
                    <p>Tech used:</p> 
                    <ul id="techu">
                      <li id="techi">HTML</li>
                      <li id="techi">CSS</li>
                      <li id="techi">JavaScript</li>
                      <li id="techi">Node.js</li>
                      <li id="techi">Express</li>
                      <li id="techi">SQL</li>
                      <li id="techi">Ajax</li>
                      <li id="techi">React</li>
                    </ul>
                  </div>
                  
                    
                  
                   
                </div>
               
              </div>

              <div class="cont">
                <p>third</p>
              </div>

              <div class="cont">
                <p>fourth</p>
              </div> 

            </div>













          </div>

          <div class="content" id="sixth">
            <h1 id="getint">Get in touch</h1>
            <!-- Your content here -->
            <div class="contact-wrapper">
              <div id="contactcontainer">

                <input type="text" id="fname" placeholder="Who are you?" required>  <br>
                <p id="fnameError" ></p>
                <input type="email" id="email" placeholder="Email address">
                <p id="emailError" ></p>
                <textarea name="massage" id="message" cols="30" rows="10" id="massage" placeholder="Massage comes here!"></textarea>
                <p id="messageError" ></p>
                
                <div id="social">
                  <ul>
                    <li><a href="https://www.linkedin.com/in/banfia-boldizsar-b1a1971bb/" target="_blank"><img src="./pic/linkedin1.png" alt="Linked in icon" class="icons"></li></a>
                    <li><a href="https://wa.me/447341043492"><img src="./pic/sap.png" alt="Whatsapp icon" class="icons"></li></a>
                    <li><a href="https://github.com/Boldizsarb" target="_blank"><img src="./pic/git.png" alt="Github icon" class="icons"></li></a>
                  </ul>
  
                </div>

                <div class="containerd">
                  <button id="btn"  onclick="Sendmail()">
                      <p id="btnText">Submit</p>
                      <div class="check-box">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                              <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                          </svg>
                      </div>
                  </button>
                </div>

              </div>
            </div>
          </div>
    </div>
    
</body>
</html>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('R_qcHBrvSEaUHzZmJ')
</script>

<script src="/scripts/index.mjs"></script>
<script src="/scripts/contact.mjs"></script>
<style>
.cont {
  display: none;
  width: 90%;
  max-height: 100vh;
  height: fit-content;
  overflow: hidden;
}
.cont.actived {
  display: block;
}

.cont.next {
  transform: translateX(100%);
}
.bu{
  margin-top: 50%;

}
</style>
 
<script>



  // for the slides 
function next() {
  var currentDiv = document.querySelector('.cont.actived');
  var nextDiv = currentDiv.nextElementSibling;

  if (nextDiv) {
    currentDiv.classList.remove('actived');
    nextDiv.classList.add('actived');
  } else {
    currentDiv.classList.remove('actived');
    var allDivs = document.querySelectorAll('.cont');
    allDivs[0].classList.add('actived');
  }
}

</script>